.header-one {
  display: flex;
  justify-content: center;
}

.header-two {
  display: flex;
  justify-content: center;
  color: white;
}

.accordion-list {
  background-color: #0021ad;
  border-radius: 8px;
  padding: 20px;
  max-width: 600px;
  margin: 0 auto;
}

.accordion-item {
  background-color: white;
  margin-bottom: 10px;
  border-radius: 4px;
  padding: 10px;
}

.accordion-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.accordion-content {
  padding: 10px 0;
}
